.mobileNav {
    position: fixed;
    background: black;
    height: 100%;
    width: 70%;
    z-index: 1000;
}


.desktopOnly {
    display: none;
}

@media (min-width: 900px) {
    .desktopOnly {
        display: inherit;
    }
    .mobileNav {
        display: none;
    }
}